.container {
	margin: 0;
	min-height: 100vh;

	font-size: 16;
	color: #E5E7EB; /* light gray */
  
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding: 0;
}

.header,
.footer {
	height: 72px;
	background-color: #1F2937; /* dark blue */
	color: #F9FAF8; /* white */
	font-size: 16px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.padding-side {
	padding: 0px 200px;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-one-flex {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	background-color: #1F2937; /* dark blue */
	padding: 80px 200px;
}

.content-two-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	min-height: 400px;
}

.content-three-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E5E7EB; /* light gray */
	min-height: 400px;
	padding: 0px 300px;
}

.content-four-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	min-height: 400px;
	gap: 20px;
}

.left-one {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 15px;
}

.wide {
	width: 750px;
	border-radius: 15px;
}

.deck-row {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 800px;
}

#deck-around {
	justify-content: space-around;
	width: 800px;
	border-radius: 15px;
	background-color: #3882F6; /* light blue */
	align-items: center;
}

.card-quote {
	display: flex;
	flex-direction: column;
}

.quote {
	color: #1F2937; /* dark blue */
	font-size: 36px;
	font-style: italic;
	margin: 0;
}

.author {
	align-self: end;
	color: #1F2937; /* dark blue */
	font-weight: 100;
	font-size: 36px;
	margin: 0;
}

.card-image {
	gap: 10px;
	text-align: center;
	width: 150px;
}

.card-text {
	gap: 10px;
	width: 300px;
	text-align: left;
}

.h1-white-48 {
	font-size: 48px;
	font-weight: 900;
	color: #F9FAF8; /* white */
}

.h2-white-36 {
	font-size: 36px;
	font-weight: 900;
	color: #1F2937; /* dark blue */
}

.h3-white-24 {
	font-size: 24px;
	color: #F9FAF8; /* white */
}

.subtext {
	max-width: 600px;
	color: #55585E;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 16px;
}

a {
	text-decoration: none;
	font-size: 18px;
	color: #E5E7EB;
}

.button-blue {
	width: 100px;
	color: white;
	background-color: #3882F6; /* light blue */
	border-radius: 7px;
	border: 0;
	height: 30px;
}

.button-bordered {
	width: 150px;
	height: 30px;
	color: white;
	border: 3px solid white;
	background-color: #3882F6; /* light blue */
	border-radius: 7px;
}

#stadium-img {
	width: 500px;
	height: auto;
}

.image-deck {
	width: 150px;
	height: 150px;
	border: 5px solid #3882F6;
	border-radius: 15px;
}	
